@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f6f2f2;
  font-family: "Outfit", sans-serif;
}

.selected {
  background-color: lightblue;
}

button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}